%html{lang:"en"}
  %head
    %meta{content:"text/html; charset=UTF-8", http-equiv:"Content-Type"}
    %meta{charset:"UTF-8"}
    %meta{content:"width=device-width, initial-scale=1.0", name:"viewport"}
    %meta{content:"", name:"description"}
    %meta{content:"", name:"author"}
    %title Yo's Restaurant

    / Template core CSS
    %link{href:"assets/css/main.css", rel:"stylesheet"}
  %body
    .inner-body
      .logo
        %img{src:"assets/images/logo-yo.png"}
      .crab
        %a{href:"#"}
          %img{src:"assets/images/crab.png"}
      .caption
        %img{src:"assets/images/icon-arrow.png"}
        %p 
          CLICK TO SEE
          %span YO'S MENU
      .container.heading
        .inner
          %span SWITCH TO
          %span.switcher
            %img{src:"assets/images/icon-switch.png"}
          %span YO'S MODE

      .container.content
        .inner
          %p RELIVE THE MOMENTS THAT MADE CHRISTMAS ONE TO REMEMBER
          .star.lg ***
          %h3
            GRAND OPENING ON&nbsp;
            %span DECEMTER 16TH 2017
          %p
            AT&nbsp;
            %span 06 NGUYEN BINH KHIEM ST.
            , DA KAO WARD, DIST.1, HCMC

          .star.sm ***
          %p RESERVATION
          %p 093 2696 366 - 093 2996 566

          .contact www.facebook.com/yos.saigon - www.instagram.com/yos.saigon